@charset "utf-8";
/* CSS Document */
/* ---------- banner start ---------- */
.wrapper{ width:1190px; margin:0 auto;}
.banner{ float:left; margin-top:10px; width:755px; height:353px; overflow:hidden; zoom:1; position:relative; z-index:10;}
.banimg a img{ width:755px; height:353px;}
.banspan{ position:absolute; right:10px; bottom:15px; z-index:20;}
.banspan span{ display:inline-block; margin-right:8px; color:#fff; width:18px; height:18px; text-align:center; line-height:18px; background-color:#000; border-radius:50%; overflow:hidden; cursor:pointer;}
.banspan span.current{ background-color:#FF7700;}
/* ---------- banner end ---------- */

/* ---------- 新品首发 start ---------- */
.newproduct{ float:right; width:215px; margin-top:15px;}
.title1 strong{ float:left; display:inline-block; background:url(../images/ico/whole.png) no-repeat -140px -150px; width:17px; height:20px; margin-right:5px;}
.title1 span{ font-family:"微软雅黑"; font-size:16px; line-height:14px; float:left; font-weight:normal; line-height:20px;}
.newcon{ width:213px; height:312px; border:1px solid #ddd; overflow:hidden; zoom:1; margin-top:14px; position:relative; z-index:10;}
.newimg a img{ width:213px; height:312px;}
.newspan{ position:absolute; bottom:15px; left:65px; z-index:20;}
.newspan span{ display:inline-block; margin:0 4px; color:#fff; width:10px; height:10px; text-align:center; line-height:18px; background-color:#FF7700; border-radius:50%; overflow:hidden; cursor:pointer;}
.newspan span.current{ background-color:#fff;}
/* ---------- 新品首发 end ---------- */

/* ---------- 兑换专区 start ---------- */
.title2{ margin-top:12px;}
.column{ float:left;}
.duihuan{ float:left; background:url(../images/ico/whole.png) no-repeat -134px -111px; width:28px; height:31px; margin-right:10px;}
.column span{ float:left; line-height:35px; font-family:"微软雅黑"; font-size:18px; color:#666;}
.click{ float:right; padding-top:12px;}
.click strong{ float:left; background:url(../images/ico/whole.png) no-repeat -185px -150px; width:15px; height:18px; margin-right:5px;}
.click a{ float:left; line-height:20px;}
.change{ margin-top:10px; border-left:1px solid #ddd; border-bottom:1px solid #ddd; border-right:1px solid #ddd; border-top:2px solid #9CB526; padding:22px 9px 15px 9px; position:relative;}
.changecon{ width:1170px; height:248px; overflow:hidden; zoom:1; position:relative;}
.changelist{ position:absolute; z-index:50; width:117000px;}
.changelist dl{ float:left; width:192px; display:inline; margin:0 21px;}
.changelist dl dt a img{ width:192px; height:192px;}
.changelist dl dt{ margin-bottom:8px;}
.changelist dl dd{ line-height:24px;}
.price i{ float:right; font-style:normal; color:#666; margin-left:5px;}
.price strong{ float:right; background:url(../images/ico/whole.png) no-repeat -218px 0; width:17px; height:15px; margin-top:4px;}
.price span{ float:left; color:#FF7700; font-family:"微软雅黑"; font-size:14px;}
.changezuo{ background:url(../images/ico/whole.png) no-repeat 0 -111px; display:block; width:60px; height:60px; position:absolute; left:0px; top:110px; cursor:pointer; display:none; z-index:60;}
.changeyou{ background:url(../images/ico/whole.png) no-repeat -65px -111px; display:block; width:60px; height:60px; position:absolute; right:0px; top:110px; cursor:pointer; display:none; z-index:60;}
/* ---------- 兑换专区 end ---------- */

/* ---------- 进入频道页 start ---------- */
.channel{ margin-top:12px; padding-left:1px;}
.channel dl{ width:395px; height:195px; float:left; margin-right:1px; position:relative;}
.channel dl dt a img{ width:395px;}
.channel dl dd{ position:absolute; right:0; top:0; height:28px; background-color:#000;filter:alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5; padding:0 15px; line-height:28px;}
.channel dl dd a{ color:#fff;}
/* ---------- 进入频道页 end ---------- */

/* ---------- 销量最多 start ---------- */
.mostspan{ margin-top:10px;}
.mostspan span{ float:left; width:110px; text-align:center; height:45px; line-height:45px; font-family:"微软雅黑"; color:#666; font-size:18px; cursor:pointer;}
.mostspan span.current{ color:#C10100; border-bottom:2px solid #C10100;}
.mostproduct{ border-left:1px solid #ddd; border-top:1px solid #ddd; overflow:hidden; zoom:1;}
.mostproduct li{ float:left; width:197px; height:238px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
.mostproduct li dl{ padding:15px 0; height:208px; position:relative;}
.mostproduct li dl dt img{ width:150px; height:150px;}
.mostproduct li dl dt{ margin-bottom:10px; text-align:center;}
.mostproduct li dl dd{ line-height:22px; padding:0 20px;}
.mostproduct li dl dd span{ color:#FF7700; font-family:"微软雅黑"; font-size:14px;}
.mostproduct li dl dd.empty{ position:absolute; left:0; top:0; background-color:#000; filter:alpha(Opacity=20); -moz-opacity:0.2; opacity:0.2; height:237px; width:196px; padding:0; display:none;}
/* ---------- 销量最多 end ---------- */

/* ---------- 福利模块 start ---------- */
.column2{ float:left;}
.yilou{ float:left; background:url(../images/ico/whole.png) no-repeat 0px -179px; width:43px; height:43px; margin-right:10px;}
.erlou{ float:left; background:url(../images/ico/whole.png) no-repeat -83px -179px; width:43px; height:43px; margin-right:10px;}
.sanlou{ float:left; background:url(../images/ico/whole.png) no-repeat -165px -179px; width:43px; height:43px; margin-right:10px;}
.column2 span{ float:left; line-height:35px; margin-top:10px; font-family:"微软雅黑"; font-size:18px; color:#666;}
.click2{ float:right; padding-top:22px;}
.click2 strong{ float:left; background:url(../images/ico/whole.png) no-repeat -185px -150px; width:15px; height:18px; margin-right:5px;}
.click2 a{ float:left; line-height:20px;}
.welfare{ border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:10px; height:485px;}
.yiloucon{ border-top:2px solid #1D7AD9;}
.erloucon{ border-top:2px solid #FF7700;}
.sanloucon{ border-top:2px solid #F5619C;}
.welfarezuo{ float:left; width:250px; height:485px; position:relative;}
.welfareimg{ width:250px; height:485px; position:relative; overflow:hidden; zoom:1;}
.welfarelist{ position:absolute; width:48500px;}
.welfarelist a{ float:left; width:250px;}
.welfarelist a img{ width:250px; height:485px;}
.welfarespan{ position:absolute; left:70px; bottom:30px;}
.welfarespan span{ display:inline-block; width:30px; height:4px; background-color:#000; margin-right:10px; cursor:pointer;}
.welfarespan span.current{ background-color:#FF7700;}
.welfaremid{ float:left; width:720px; height:469px; padding:8px 0 8px 7px; border-right:1px solid #ddd;}
.welfaremid dl{ float:left; width:160px; display:inline; margin:13px 10px;}
.welfaremid dl dt img{ width:160px; height:160px;}
.welfaremid dl dd{ line-height:22px;}
.welfaremid dl dt{ margin-bottom:6px;}
.welfaremid dl dd strong{ color:#FF7700;}
.welfareyou{ float:right; width:186px; padding:0 12px;}
.title3{ padding-top:10px; margin-bottom:8px;}
.hota{ background:url(../images/ico/whole.png) no-repeat -49px -179px; float:left; width:27px; height:25px; margin-right:10px;}
.hotb{ background:url(../images/ico/whole.png) no-repeat -132px -179px; float:left; width:27px; height:25px; margin-right:10px;}
.hotc{ background:url(../images/ico/whole.png) no-repeat -213px -179px; float:left; width:27px; height:25px; margin-right:10px;}
.title3 span{ float:left; font-family:"微软雅黑"; font-size:16px; color:#666; margin-top:3px;}
.hotcon{ padding:8px 0; border-bottom:1px dashed #ddd;}
.hotcon ul li img{ width:130px; height:130px; margin-bottom:8px;}
.hotcon ul li{ text-align:center;}
.hotcon dl{ overflow:hidden; zoom:1;}
.hotcon dl dt{ float:left; width:50px; height:50px; margin-right:10px;}
.hotcon dl dt img{ width:48px; height:48px; border:1px solid #ddd;}
.zan strong{ float:left; background:url(../images/ico/whole.png) no-repeat -218px 0; width:17px; height:15px; margin-right:5px;}
.zan span{ color:#999; float:left; line-height:20px;}
.hotcon dl dd{ line-height:24px;}
/* ---------- 福利模块 end ---------- */

/* ---------- 特价专卖 start ---------- */
.column3{ float:left;}
.silou{ float:left; background:url(../images/ico/whole.png) no-repeat -175px -111px; width:35px; height:35px; margin-right:10px;}
.column3 span{ float:left; line-height:35px; margin-top:4px; font-family:"微软雅黑"; font-size:18px; color:#666;}

.tejia{ border-left:1px solid #ddd; border-bottom:1px solid #ddd; border-top:2px solid #AA73D1; width:100%; margin-top:10px;}
.tejiaone{ float:left;width:270px; border-right:1px solid #ddd;}
.tejiabig{ width:240px; margin:0 auto; padding:15px 0;}
.tejiabig dt img{ width:240px; height:240px;}
.tejiabig dt{ margin-bottom:12px;}
.zheqian{ color:#999; margin-top:12px;}
.zheqian i{ font-style:normal; text-decoration:line-through;}
.zhehou{ color:#666; margin-top:8px; line-height:20px;}
.zhehou strong{ color:#f70;}
.zhehou span{ display:inline-block; margin-left:10px; color:#fff; padding:0 6px; background-color:#f70; height:20px;}
.icoa{ margin-top:8px;}
.cang{ float:left; width:55px; height:22px; float:left; color:#fff; line-height:22px; background-color:#f70; margin-right:14px;}
.cang strong{ float:left; background:url(../images/ico/whole.png) no-repeat -253px 0; width:13px; height:11px; margin:6px 5px 0 6px;}
.cang span{ float:left;}

.tejiatwo{ float:left; width:324px;}
.tejiasma{ width:125px; float:left; padding:9px 18px 10px 18px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.tejiasma dt{ margin-bottom:5px;}
.tejiasma dt img{ width:125px; height:125px;}
.tejiasma dd{ line-height:20px;}
.tejiasma dd strong{ color:#f70;}

/*.tejia{ border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; border-top:2px solid #AA73D1; width:100%; margin-top:10px;}
.tejia tr td{ border:1px solid #ddd;}
.tejiabig{ width:240px; margin:0 auto; padding:15px 0;}
.tejiabig dt img{ width:240px; height:240px;}
.tejiabig dt{ margin-bottom:12px;}
.zheqian{ color:#999; margin-top:12px;}
.zheqian i{ font-style:normal; text-decoration:line-through;}
.zhehou{ color:#666; margin-top:8px; line-height:20px;}
.zhehou strong{ color:#f70;}
.zhehou span{ display:inline-block; margin-left:10px; color:#fff; padding:0 6px; background-color:#f70; height:20px;}
.icoa{ margin-top:8px;}
.cang{ float:left; width:55px; height:22px; float:left; color:#fff; line-height:22px; background-color:#f70; margin-right:14px;}
.cang strong{ float:left; background:url(../images/ico/whole.png) no-repeat -253px 0; width:13px; height:11px; margin:6px 5px 0 6px;}
.cang span{ float:left;}
.icoa b{ float:left; background:url(../images/ico/whole.png) no-repeat -218px 0; width:17px; height:15px; margin:3px 4px 0 0;}
.icoa p{ float:left; color:#999; line-height:22px;}
.tejiasma{ width:125px; margin:0 auto; padding:0 12px;}
.tejiasma dt{ margin-bottom:5px;}
.tejiasma dt img{ width:125px; height:125px;}
.tejiasma dd{ line-height:20px;}
.tejiasma dd strong{ color:#f70;}*/
/* ---------- 特价专卖 end ---------- */

/* ---------- 底部广告 start ---------- */
.footadd{ margin-top:15px;}
.footadd a img{ height:70px;}
/* ---------- 底部广告 end ---------- */