.onefirst{width: 196px;height: 363px; border: 2px solid #1E7BD9; border-top: 0; float: left; margin-right: 10px;}
.subdl dl{border-bottom:1px dashed #666; padding: 12px;}
.subdl{position: relative;}
.subdl dl dt a{color: #1D7AD9; font-family: "微软雅黑"; font-size: 16px; background: url(../img/ico4.png) no-repeat right center; display: block; }
.subdl dl dd a{display: inline-block; margin-right: 10px; line-height: 10px;margin-top: 10px;}
.subdl:last-child dl{border-bottom: 0;}
.subdl:hover{background-color: #1D7AD9;}
.subdl:hover dl dt a{color: #fff; background-image: url(../img/ico5.png);}
.subdl:hover dl dd a{color:#fff}
.subnav{display: none; position: absolute; left: 196px; top: 0; border: 2px solid #1D7AD9; padding: 30px; background-color: #fff; z-index:999 }
.subdl:hover .subnav{display: block;}

.banner{margin-top: 10px;overflow: hidden; height: 353px; width: 755px; position: relative;float: left;}
.banspan{position: absolute; right: 20px; bottom: 20px;}
.banspan span{width: 16px; height: 16px; background-color: #000; color: #fff;display: inline-block; text-align: center; border-radius: 100%; cursor: pointer;}
.banspan span:hover{background-color: #FF7700;} 
.newproduct{margin-top: 15px;float: right;width: 215px;}
.title1{height: 30px;}
.title1 strong{float: left;background: url(../img/ico/whole.png) no-repeat -139px -149px; width: 17px;height: 20px;}
.title1 span{display: block;float: left;color: #33333;padding-top: 5px;margin-left: 8px;}
.newcon{height: 315px;overflow: hidden;margin-top: 6px;position: relative;z-index: 10;}
.newspan1{position: absolute;bottom: 15px;left:65px;z-index: 99;}
.newspan1 span{width: 10px;height: 10px;background-color: #FF7700;display:inline-block;border-radius: 100%;cursor: pointer;}
.newspan1 span:hover{background-color: #FFFFFF;}

.yuehuan{margin-top: 12px;}
.yuehuan .colum{float: left;} 
.colum strong{background: url(../img/ico/whole.png) no-repeat -135px -115px;width: 28px;height: 31px;float: left;}
.colum span{line-height: 28px;font-size: 18px;color: #333333;margin-left: 8px;}
.click{float: right;}
.click strong{float: left;background: url(../img/ico/whole.png) no-repeat -184px -149px;width: 28px;height: 31px;}
.click span{line-height:28px ;}
.change{margin-top: 10px;border: 1px solid #ddd;border-top:2px solid #9bb536;padding: 22px 9px 15px 9px;position: relative;}
.changecon{width: 1170px;height: 248px;overflow: hidden;position: relative;}
.changelist{position: absolute;z-index: 50;width: 117000px;}
.changelist dl{float: left;width: 192px;display: inline;margin: 0 20px;}
.changelist dl a img{width: 192px;height: 192px;}
.changelist dl dd a{color: #666666;line-height: 20px;font-size: 12px;}
.changelist dl dd{margin-top: 5px;}
.changelist dl dd span{color: #F15500;display: inline-block;margin-right: 50px;}
.changelist dl dd strong{background: url(../img/ico/whole.png) no-repeat -216px 0;width: 20px;height: 20px;float:right;}

.two{border: 1px solid #DEDEDE; margin-top: 30px; border-top: 2px solid #F5619C; }
.twoleft{float: left; width: 250px; height: 485px; position: relative; }
.addimg{width: 250px; height: 485px; overflow: hidden;}
.addspan{position: absolute; left: 65px; bottom: 50px;}
.addspan span{width: 30px; height: 4px; background-color: #000;display: inline-block; margin:0 5px; cursor: pointer;}
.addspan span:first-child , .addspan span:hover{background-color: #FF7700;}
